window#osd {
  border-radius: 0;
  border: 2px solid #4a4a4a;
  background: rgba(18, 18, 18, 0.8);
}

window#osd #container {
  margin: 16px;
}

window#osd image,
window#osd label {
  color: #e0e0e0;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 6px;
  border-radius: 0;
  background: transparent;
  border: none;
}

window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: rgba(160, 160, 160, 0.5);
}

window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #00d1ff;
}

window#osd segment {
  margin-left: 8px;
}

window#osd segment:first-child {
  margin-left: 0;
}
